.obsidian/app.json
.obsidian/appearance.json
.obsidian/bookmarks.json
.obsidian/community-plugins.json
.obsidian/core-plugins-migration.json
.obsidian/core-plugins.json
.obsidian/graph.json
.obsidian/workspace.json
